@charset "UTF-8";

#wrap {width:1200px;}

nav{background-color:cornflowerblue;}

footer{height:100px;}

.menu{
	color:white;
	font-size:17px;	
}

.menu:hover{
	color:white;
	
}
.logo {font-size:30px}

.form-group{white-space : nowrap;}

.nav-item{margin-top:8px; font-weight:500;}